@import "~antd/dist/antd.css";
@import "./format.scss";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue‘, Arial, Verdana, sans-serif !important;
  font-size: 14px;
  color: $default-color;
  background: $default-bg-color;
}

/* scroller*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a6cae5;
}

.no-data-wrapper {
  height: 100%;
  width: 100%;
  min-height: 300px;
  display: flex;
  background: #fefefe;
  margin: 0 10px;
}

.no-data {
  margin: auto;
  color: #999;
  padding: 14px;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: inset 0px 0px 12px 1px;
}
